/* Base */
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* Webfont: Dirtyline36Daysoftype2022-Reg */
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Extralight.woff2") format("woff2"), url("../fonts/ClashDisplay-Extralight.woff") format("woff"), url("../fonts/ClashDisplay-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Light.woff2") format("woff2"), url("../fonts/ClashDisplay-Light.woff") format("woff"), url("../fonts/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Regular.woff2") format("woff2"), url("../fonts/ClashDisplay-Regular.woff") format("woff"), url("../fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Medium.woff2") format("woff2"), url("../fonts/ClashDisplay-Medium.woff") format("woff"), url("../fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Semibold.woff2") format("woff2"), url("../fonts/ClashDisplay-Semibold.woff") format("woff"), url("../fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Bold.woff2") format("woff2"), url("../fonts/ClashDisplay-Bold.woff") format("woff"), url("../fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
}
/* Webfont: Dirtyline36Daysoftype2022-Reg */
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Extralight.woff2") format("woff2"), url("../fonts/ClashDisplay-Extralight.woff") format("woff"), url("../fonts/ClashDisplay-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Light.woff2") format("woff2"), url("../fonts/ClashDisplay-Light.woff") format("woff"), url("../fonts/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Regular.woff2") format("woff2"), url("../fonts/ClashDisplay-Regular.woff") format("woff"), url("../fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Medium.woff2") format("woff2"), url("../fonts/ClashDisplay-Medium.woff") format("woff"), url("../fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Semibold.woff2") format("woff2"), url("../fonts/ClashDisplay-Semibold.woff") format("woff"), url("../fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Bold.woff2") format("woff2"), url("../fonts/ClashDisplay-Bold.woff") format("woff"), url("../fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
}
/* Abstract */
/* Components */
/* Layout */
html {
  font-size: 0.625em;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  pointer-events: all;
}

body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  color: #FFFFFF;
  font-family: Clash Display, sans-serif;
  font-size: 1.4rem;
  background-color: #20105C;
  --x: 0;
  --y: 0;
  /* Hide scrollbar for Chrome, Safari and Opera */
}

.container {
  margin: 0 auto;
  padding: 0 18.6rem;
  max-width: 100%;
}

.container-small {
  margin: 0 auto;
  padding: 0 30.8rem;
  max-width: 100%;
}

.view {
  height: 100vh;
}
.view.view-s2 {
  height: 200vh;
}

.overlay {
  position: fixed;
}
.overlay .logo {
  position: fixed;
  left: 4rem;
  top: 3.2rem;
}
.overlay .info {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 4rem;
  top: 3.2rem;
}
.overlay .info-name {
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 700;
}
.overlay .info-localisation {
  font-style: italic;
  font-size: 2.4rem;
  font-weight: 500;
}
.overlay .soundToogle {
  position: fixed;
  right: 4rem;
  bottom: 3.2rem;
}
.overlay .brainMap {
  position: fixed;
  left: 4rem;
  bottom: 3.2rem;
}

/* Pages */
.content .hero {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7.2rem;
}
.content .hero-title {
  font-weight: 700;
  font-size: 9.6rem;
  color: #FFFFFF;
  text-align: center;
  line-height: 120%;
  text-transform: uppercase;
}
.content .hero-wrapperParagraph {
  display: flex;
  gap: 1.6rem;
  font-family: Roboto, sans-serif;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  align-items: center;
  line-height: 120%;
}
.content .hero-wrapperData {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: min-content;
  text-align: center;
}
.content .hero-data--count {
  width: max-content;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 120%;
  padding: 1.1rem 2.2rem;
  color: #C52D48;
  border: 0.4rem solid #C52D48;
  text-decoration: none;
  text-transform: uppercase;
}
.content .hero-data--text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 120%;
  color: #C52D48;
}
.content .scale-1, .content .scale-2, .content .scale-3, .content .scale-4 {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 3.6rem;
}
.content .scale-1--set, .content .scale-1--data {
  margin: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.content .scale-1--setNumber, .content .scale-1--dataNumber {
  font-weight: 700;
  line-height: 120%;
  font-size: 9.6rem;
}
.content .scale-1--setText, .content .scale-1--dataText {
  font-weight: 700;
  line-height: 120%;
  font-size: 4.8rem;
}
.content .scale-1--steak {
  margin: auto;
  position: relative;
}
.content .scale-2--lottie {
  opacity: 0;
  width: auto;
  height: auto;
}
.content .scale-3--images {
  z-index: -1;
}
.content .scale-3--agriculture, .content .scale-3--consommation, .content .scale-3--embalage, .content .scale-3--supermarche, .content .scale-3--transformation, .content .scale-3--transport, .content .scale-3--outline {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 38.5rem;
  transform: translate(-50%, -50%);
  transition: 1s linear 1s;
}
.content .scale-3--agriculture.active .scale-3--agricultureText,
.content .scale-3--agriculture.active .scale-3--consommationText,
.content .scale-3--agriculture.active .scale-3--embalageText,
.content .scale-3--agriculture.active .scale-3--supermarcheText,
.content .scale-3--agriculture.active .scale-3--transformationText,
.content .scale-3--agriculture.active .scale-3--transportText, .content .scale-3--consommation.active .scale-3--agricultureText,
.content .scale-3--consommation.active .scale-3--consommationText,
.content .scale-3--consommation.active .scale-3--embalageText,
.content .scale-3--consommation.active .scale-3--supermarcheText,
.content .scale-3--consommation.active .scale-3--transformationText,
.content .scale-3--consommation.active .scale-3--transportText, .content .scale-3--embalage.active .scale-3--agricultureText,
.content .scale-3--embalage.active .scale-3--consommationText,
.content .scale-3--embalage.active .scale-3--embalageText,
.content .scale-3--embalage.active .scale-3--supermarcheText,
.content .scale-3--embalage.active .scale-3--transformationText,
.content .scale-3--embalage.active .scale-3--transportText, .content .scale-3--supermarche.active .scale-3--agricultureText,
.content .scale-3--supermarche.active .scale-3--consommationText,
.content .scale-3--supermarche.active .scale-3--embalageText,
.content .scale-3--supermarche.active .scale-3--supermarcheText,
.content .scale-3--supermarche.active .scale-3--transformationText,
.content .scale-3--supermarche.active .scale-3--transportText, .content .scale-3--transformation.active .scale-3--agricultureText,
.content .scale-3--transformation.active .scale-3--consommationText,
.content .scale-3--transformation.active .scale-3--embalageText,
.content .scale-3--transformation.active .scale-3--supermarcheText,
.content .scale-3--transformation.active .scale-3--transformationText,
.content .scale-3--transformation.active .scale-3--transportText, .content .scale-3--transport.active .scale-3--agricultureText,
.content .scale-3--transport.active .scale-3--consommationText,
.content .scale-3--transport.active .scale-3--embalageText,
.content .scale-3--transport.active .scale-3--supermarcheText,
.content .scale-3--transport.active .scale-3--transformationText,
.content .scale-3--transport.active .scale-3--transportText, .content .scale-3--outline.active .scale-3--agricultureText,
.content .scale-3--outline.active .scale-3--consommationText,
.content .scale-3--outline.active .scale-3--embalageText,
.content .scale-3--outline.active .scale-3--supermarcheText,
.content .scale-3--outline.active .scale-3--transformationText,
.content .scale-3--outline.active .scale-3--transportText {
  opacity: 1;
}
.content .scale-3--agriculture.active .scale-3--agricultureTextImage,
.content .scale-3--agriculture.active .scale-3--consommationTextImage,
.content .scale-3--agriculture.active .scale-3--embalageTextImage,
.content .scale-3--agriculture.active .scale-3--supermarcheTextImage,
.content .scale-3--agriculture.active .scale-3--transformationTextImage,
.content .scale-3--agriculture.active .scale-3--transportTextImage, .content .scale-3--consommation.active .scale-3--agricultureTextImage,
.content .scale-3--consommation.active .scale-3--consommationTextImage,
.content .scale-3--consommation.active .scale-3--embalageTextImage,
.content .scale-3--consommation.active .scale-3--supermarcheTextImage,
.content .scale-3--consommation.active .scale-3--transformationTextImage,
.content .scale-3--consommation.active .scale-3--transportTextImage, .content .scale-3--embalage.active .scale-3--agricultureTextImage,
.content .scale-3--embalage.active .scale-3--consommationTextImage,
.content .scale-3--embalage.active .scale-3--embalageTextImage,
.content .scale-3--embalage.active .scale-3--supermarcheTextImage,
.content .scale-3--embalage.active .scale-3--transformationTextImage,
.content .scale-3--embalage.active .scale-3--transportTextImage, .content .scale-3--supermarche.active .scale-3--agricultureTextImage,
.content .scale-3--supermarche.active .scale-3--consommationTextImage,
.content .scale-3--supermarche.active .scale-3--embalageTextImage,
.content .scale-3--supermarche.active .scale-3--supermarcheTextImage,
.content .scale-3--supermarche.active .scale-3--transformationTextImage,
.content .scale-3--supermarche.active .scale-3--transportTextImage, .content .scale-3--transformation.active .scale-3--agricultureTextImage,
.content .scale-3--transformation.active .scale-3--consommationTextImage,
.content .scale-3--transformation.active .scale-3--embalageTextImage,
.content .scale-3--transformation.active .scale-3--supermarcheTextImage,
.content .scale-3--transformation.active .scale-3--transformationTextImage,
.content .scale-3--transformation.active .scale-3--transportTextImage, .content .scale-3--transport.active .scale-3--agricultureTextImage,
.content .scale-3--transport.active .scale-3--consommationTextImage,
.content .scale-3--transport.active .scale-3--embalageTextImage,
.content .scale-3--transport.active .scale-3--supermarcheTextImage,
.content .scale-3--transport.active .scale-3--transformationTextImage,
.content .scale-3--transport.active .scale-3--transportTextImage, .content .scale-3--outline.active .scale-3--agricultureTextImage,
.content .scale-3--outline.active .scale-3--consommationTextImage,
.content .scale-3--outline.active .scale-3--embalageTextImage,
.content .scale-3--outline.active .scale-3--supermarcheTextImage,
.content .scale-3--outline.active .scale-3--transformationTextImage,
.content .scale-3--outline.active .scale-3--transportTextImage {
  scale: 1.1;
}
.content .scale-3--agricultureText, .content .scale-3--consommationText, .content .scale-3--embalageText, .content .scale-3--supermarcheText, .content .scale-3--transformationText, .content .scale-3--transportText, .content .scale-3--outlineText {
  position: absolute;
  transition: 1s linear 2.5s;
  opacity: 0;
}
.content .scale-3--agricultureImage, .content .scale-3--consommationImage, .content .scale-3--embalageImage, .content .scale-3--supermarcheImage, .content .scale-3--transformationImage, .content .scale-3--transportImage, .content .scale-3--outlineImage {
  height: 38.5rem;
}
.content .scale-3--agricultureTitle, .content .scale-3--consommationTitle, .content .scale-3--embalageTitle, .content .scale-3--supermarcheTitle, .content .scale-3--transformationTitle, .content .scale-3--transportTitle, .content .scale-3--outlineTitle {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 120%;
}
.content .scale-3--agricultureParagraph, .content .scale-3--consommationParagraph, .content .scale-3--embalageParagraph, .content .scale-3--supermarcheParagraph, .content .scale-3--transformationParagraph, .content .scale-3--transportParagraph, .content .scale-3--outlineParagraph {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 120%;
}
.content .scale-3--agriculture.active {
  transform: translate(-165%, -50%);
}
.content .scale-3--agricultureText {
  left: 50%;
  top: -20%;
  transform: translateX(-50%);
}
.content .scale-3--agricultureImage {
  transition: 1s linear;
}
.content .scale-3--agricultureImage.active {
  transform: translate(0, 100vh);
}
.content .scale-3--agricultureImage---path {
  transform: translate(0, 0vh);
}
.content .scale-3--consommation.active {
  transform: translate(-50%, -60%);
}
.content .scale-3--consommationText {
  right: 0%;
  top: -20%;
}
.content .scale-3--embalage.active {
  transform: translate(-40%, -40%);
}
.content .scale-3--embalageText {
  left: 50%;
}
.content .scale-3--supermarche.active {
  transform: translate(-35%, -43%);
}
.content .scale-3--supermarcheText {
  right: 0;
  bottom: 10%;
  transform: translateX(100%);
}
.content .scale-3--transformation.active {
  transform: translate(-30%, -50%);
}
.content .scale-3--transformationText {
  right: 0;
  bottom: 45%;
  transform: translateX(115%);
}
.content .scale-3--transport.active {
  transform: translate(-30%, -55%);
}
.content .scale-3--transportText {
  right: 0;
  top: 0;
  transform: translateX(115%);
}
.content .scale-3--outline.active {
  opacity: 40%;
}
.content .scale-4--treeBg {
  display: none;
}
.content .scale-4--container {
  height: 80vh;
  display: flex;
  gap: 6.8rem;
}
.content .scale-4--category {
  gap: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .scale-4--illustration {
  height: 100%;
}
.content .scale-4--illustration---img {
  height: 100%;
}
.content .scale-4--illustration---path {
  display: none;
}
.content .scale-4--illustration---svg {
  display: none;
}
.content .scale-4--Number {
  font-weight: 700;
  line-height: 120%;
  font-size: 3.2rem;
}
.content .scale-4--description {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 90%;
  font-size: 1.6rem;
}
.content .scale--title {
  font-size: 3.2rem;
  font-weight: 700;
  font-family: Clash Display, sans-serif;
  line-height: 120%;
}
.content .scale-map {
  height: 80vh;
}

.map-overlay {
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: absolute;
  width: 25%;
  top: 0;
  left: 0;
  padding: 10px;
}

.map-overlay .map-overlay-inner {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.map-overlay h2 {
  line-height: 24px;
  display: block;
  margin: 0 0 10px;
}

.map-overlay .legend .bar {
  height: 10px;
  width: 100%;
  background: linear-gradient(to right, #fca107, #7f3121);
}

.map-overlay input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}

.end-illustration {
  position: absolute;
  right: 0;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}
.end .hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 4.8rem;
}
.end .hero-title {
  margin-top: 10%;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.end .hero-paragraph {
  font-size: 2rem;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  line-height: 120%;
  max-width: 88.4rem;
}
.end .thanks {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 4.8rem;
}
.end .thanks-title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.end .thanks-wrapperParagraph {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.end .thanks-paragraph {
  font-size: 2rem;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  line-height: 120%;
  max-width: 62rem;
}
.end .ending {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 4.8rem;
}
.end .ending-wrapperText {
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 4.8rem;
}
.end .ending-title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.end .ending-paragraph {
  font-size: 2rem;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  line-height: 120%;
  max-width: 88.4rem;
}
.end .ending-footer {
  position: absolute;
  bottom: 6.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.end .ending-footer--text {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  line-height: 120%;
}
.end .ending-footer a {
  text-decoration: none;
  color: #ffffff;
}

.intro {
  font-family: Clash Display, sans-serif;
}
.intro .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro .hero-illustration {
  position: absolute;
  height: 67.3rem;
  transform: translate(-50%, 25%);
}
.intro .hero-wrapperTitle {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.intro .hero-title {
  font-size: 21.6rem;
  font-weight: 700;
  line-height: 120%;
}
.intro .hero-subtitle {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.intro .hero-scroll {
  margin-bottom: 6.7rem;
}
.intro .name {
  display: flex;
  flex-direction: column;
}
.intro .name-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2.4rem;
}
.intro .name-wrapperParagraph, .intro .name-wrapperInfo {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.6rem;
}
.intro .name-title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 120%;
}
.intro .name-text {
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 120%;
}
.intro .name-text.bold {
  font-weight: 700;
  padding: 0 31.6rem;
}
.intro .name-wrapperInfo {
  gap: 4.8rem;
}
.intro .name-info {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 120%;
}
.intro .name-input {
  padding: 2.4rem 17.2rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 120%;
  background-color: transparent;
  border: 0.4rem solid #ffffff;
  color: white;
}
.intro .name-input::placeholder {
  color: white;
}
.intro .description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro .description-wrapperParagraph {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10.6rem;
}
.intro .description-title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 120%;
}
.intro .description-title.__Name {
  color: #C52D48;
}
.intro .description-wrapperText {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.6rem;
}
.intro .description-text {
  font-size: 2rem;
  font-weight: 500;
  line-height: 120%;
}
.intro .description-column {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 11.9rem;
}
.intro .description-column-illustration {
  display: flex;
  gap: 2.4rem;
}
.intro .description-column-text {
  font-size: 2rem;
  font-weight: 500;
  line-height: 120%;
}
.intro .description-btn {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 120%;
  padding: 1.1rem 2.2rem;
  color: #C52D48;
  border: 0.4rem solid #C52D48;
  text-decoration: none;
  width: fit-content;
  text-transform: uppercase;
  margin-bottom: 7.6rem;
}

.overlay {
  z-index: 1000;
}
.overlay .soundToogle {
  display: flex;
  border: 0.2rem solid #ffffff;
  gap: 0.3rem;
  padding: 0.8rem 1.6rem;
  width: 8.4rem;
  height: 5.5rem;
  align-items: center;
  justify-content: center;
}
.overlay .soundToogle .line-first {
  min-width: 0.8rem;
  animation: music 2.5s infinite alternate linear 0.5s;
}
.overlay .soundToogle .line-second {
  min-width: 0.8rem;
  animation: music 2.5s infinite alternate linear 1s;
}
.overlay .soundToogle .line-third {
  min-width: 0.8rem;
  animation: music 2.5s infinite alternate linear 1.5s;
}
.overlay .soundToogle .line-four {
  min-width: 0.8rem;
  animation: music 2.5s infinite alternate linear 2s;
}
.overlay .soundToogle .line-five {
  min-width: 0.8rem;
  animation: music 2.5s infinite alternate linear 2.5s;
}

@keyframes music {
  from {
    height: 2rem;
  }
  to {
    height: 4rem;
  }
}

/*# sourceMappingURL=index.css.map */
