.button-primary {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 120%;
    padding: 1.1rem 2.2rem;
    color: #C52D48;
    border: 0.2rem solid #C52D48;
    text-decoration: none;
    width: fit-content;
    text-transform: uppercase;
}